/* debug styles */
* {
  /* outline: 1px solid #02897a2e !important; */
  /* background-color: hsl(50 100% 50% / 0.1) !important; */
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5) !important; */
  /* color: hsla(0, 0%, 0%, 0.49) !important; */
}

/* #region global styles ------------------------------ */

.hidden {
  display: none;
}

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgb(46 47 66 / 40%);
  --hero-background-color: rgb(46 47 66 / 70%);
  --white-background-color: #fff;
  --modal-background-color: #fcfcfc;
}

/* set default font size and color */
body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-background-color);
  color: var(--text-color);
}

/* set visualy hidden class */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* remove link underline */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* remove margin from headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* remove margin from paragraphs */
p {
  margin: 0;
}

/* remove list dots, padding and margin from lists */
ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

button {
  display: block;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: inherit;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
}

/* change default image display to block */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* set container styles */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* container tablet styles */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* container desktop styles */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgb(0 0 0 / 10%);
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.button-close-icon {
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
  fill: white;
}

.primbrandcolor {
  color: var(--primary-brand-color);
}

/* #endregion global styles ------------------------------ */

/* #region Header ---------------------------------------- */

.header {
  max-width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 1px 6px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%), 0 2px 1px 0 rgb(46 47 66 / 8%);
  padding: 16px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  /* line-height: 24px; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.header-logo {
}

.header-logo .nav-logo-dark {
  display: inline-block;
  color: var(--dark-color);
}

.nav-item-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover,
.nav-item-link:focus,
.nav-item-link:active {
  color: var(--pressed-state-color);
}

.current-page {
  color: var(--pressed-state-color);
}

.current-page::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transform: translateY(0);
}

.nav-item-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transform: translateY(120%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover::after,
.nav-item-link:focus::after,
.nav-item-link:active::after {
  transform: translateY(0);
}

.contacts-item-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:hover,
.contacts-item-link:focus,
.contacts-item-link:active {
  color: var(--pressed-state-color);
}

.burger-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  fill: var(--dark-color);
}
/* header tablet styles */
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 0;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-item-link {
    display: block;
    padding: 24px 0;
  }

  .contacts {
    display: block;
  }

  .contacts-item-link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .burger-btn {
    display: none;
  }
}

/* header desktop styles */
@media screen and (min-width: 1158px) {
  .header {
    max-width: 1440px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
  }

  .contacts-item-link {
    display: block;
    padding: 24px 0;
  }
}

/* #endregion Header ------------------------------------- */

/* #region Hero Section ---------------------------------- */
.hero {
  text-align: center;
  color: var(--white-background-color);
  max-width: 320px;
  background-image: linear-gradient(to bottom, rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)), image-set(url("../images/mobile/hero-bg-mob.jpg") 1x, url("../images/mobile/hero-bg-mob@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

.hero .container {
  padding: 72px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  padding: 16px;
  min-width: 169px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: var(--pressed-state-color);
}

/* header tablet styles */
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to bottom, rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)), image-set(url("../images/tablet/hero-bg-tab.jpg") 1x, url("../images/tablet/hero-bg-tab@2x.jpg") 2x);
  }

  .hero .container {
    padding: 112px 0;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

/* header desktop styles */
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(to bottom, rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)), image-set(url("../images/desktop/hero-bg-dsk.jpg") 1x, url("../images/desktop/hero-bg-dsk@2x.jpg") 2x);
  }

  .hero .container {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* #endregion Hero Section ---------------------------------- */

/* #region Modal ----------------------------------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgb(46 47 66 / 40%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: calc(320px - 16px * 2);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%), 0 2px 1px 0 rgb(0 0 0 / 20%);
  background: var(--modal-background-color);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.modal-form {
}

.modal-form-part {
  margin-bottom: 8px;
}

.modal-form-part:nth-child(4) {
  margin-bottom: 16px;
}
.modal-form-part:nth-child(5) {
  margin-bottom: 24px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-label[for="acceptation"] {
  margin: 0;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: transparent solid 1px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-form-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent solid 1px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-visible,
.modal-form-input:focus-within,
.modal-form-textarea:focus-visible,
.modal-form-textarea:focus-within {
  border-color: #4d5ae5;
  outline: #4d5ae5 solid 1px;
}

.modal-form-label-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-container:focus-within .modal-form-label-icon,
.modal-input-container:focus-visible .modal-form-label-icon {
  fill: #4d5ae5;
}

.modal-form-checkbox {
}

.modal-input-container {
  display: block;
  position: relative;
}

.v-aligned {
  display: inline-flex;
  align-items: center;
}

.modal-form-label:nth-last-child(5) {
  display: inline;
}

.modal-form-custom-checkbox {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgb(46 47 66 / 40%);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: transparent solid 1px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-label .modal-form-custom-checkbox {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox .modal-form-custom-checkbox-icon {
  fill: #ffffff;
}

.modal-form-checkbox:focus-visible + .modal-form-custom-checkbox,
.modal-form-checkbox:focus-within + .modal-form-custom-checkbox {
  border-color: #404bbf;
  outline: #4d5ae5 solid 1px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.custom-checkbox-text {
  display: block;
}

.modal-form-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin: 0;
}

.modal-form-button {
  padding: 16px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
  color: white;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:active {
  background-color: var(--pressed-state-color);
}

/* modal tablet styles */
@media screen and (min-width: 768px) {
  .modal {
    top: 96px;
    transform: translateY(0);
    width: 408px;
    transform: translateX(-50%);
    min-height: initial;
  }
}

/* modal desktop styles */
@media screen and (min-width: 1158px) {
  .modal {
    top: 80px;
  }
}

/* #endregion Modal -------------------------------------- */

/* #region Features Section ------------------------------ */

.feature .container {
  padding-block: 96px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-item-iconbox {
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  background: var(--light-color);
  padding: 23px 0;
  margin-bottom: 8px;
  display: none;
}

.feature-item-title {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.feature-item-txt {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Features tablet styles */
@media screen and (min-width: 768px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .feature-item-title {
    text-align: left;
  }
}

/* Features desktop styles */
@media screen and (min-width: 1158px) {
  .feature .container {
    padding-block: 120px;
  }
  .feature-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .feature-item-iconbox {
    display: flex;
    justify-content: center;
  }

  .feature-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-item-txt {
    font-weight: 400;
    line-height: 1.5;
  }
}

/* #endregion Features Section --------------------------- */

/* #region Our Team Section ------------------------------ */

.team {
  background: var(--light-color);
}

.team .container {
  padding-block: 96px;
  padding-inline: 28px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background: var(--white-background-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%), 0 1px 6px 0 rgb(46 47 66 / 8%);
  flex-basis: 264px;
  flex-grow: 0;
  flex-shrink: 0;
}

.team-item-container {
  padding: 32px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);

  /* positioning */
  margin-bottom: 8px;
}

.team-item-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 8px;
}

.team-item-socialblock-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-sociallink {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-sociallink:hover,
.team-item-sociallink:focus {
  background-color: #404bbf;
}

.team-item-sociallink-icon {
}

/* Our Team tablet styles */
@media screen and (min-width: 768px) {
  .team .container {
    padding-inline: 15px;
  }

  .team-list {
    justify-content: center;
    gap: 64px 24px;
  }
}
/* Our Team desktop styles */
@media screen and (min-width: 1158px) {
  .team .container {
    padding-block: 120px;
  }
}

/* #endregion Our Team Section --------------------------- */

/* #region Portfolio Section ----------------------------- */

.portfolio .container {
  padding-block: 96px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.portfolio-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-overlay {
  display: none;
}

.portfolio-item-container {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.portfolio-item-image {
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.portfolio-item-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Portfolio tablet styles */
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    box-shadow: 0 2px 1px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%), 0 1px 6px 0 rgb(46 47 66 / 8%);
  }
}
/* Portfolio desktop styles */
@media screen and (min-width: 1158px) {
  .portfolio .container {
    padding-block: 120px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item-overlay {
    display: block;
    padding: 40px 32px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
  }

  .portfolio-item {
    box-shadow: none;
    flex-basis: calc((100% - 24px * 2) / 3);
  }
  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%), 0 1px 6px 0 rgb(46 47 66 / 8%);
  }

  .portfolio-item:hover .portfolio-item-overlay {
    transform: translateY(0);
  }

  .portfolio-item-imagecontaiter {
    position: relative;
    overflow: hidden;
  }
}

/* #endregion Portfolio Section -------------------------- */

/* #region Footer Section ----------------------------- */
.footer {
  background: var(--dark-color);
}
.footer .container {
  padding: 96px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo-block {
  text-align: center;
}

.footer-logo-lnk {
  margin-bottom: 16px;
}

.footer-logo-lnk .footer-logo-light {
  display: inline-block;
  color: var(--light-color);
}

.footer-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  text-align: left;
}

.footer-social-block {
  text-align: center;
}

.footer-social-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-socia-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-icon {
  fill: var(--light-color);
}

.footer-form-block {
  text-align: center;
}

.footer-form-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-label {
}

.footer-form-email {
  width: calc(320px - (16px * 2));
  border: 1px solid white;
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding: 0 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  opacity: 0.3;
}

.footer-form-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-form-email:focus {
  outline: 2px solid white;
}

.footer-form-button {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 16px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button-icon {
  fill: var(--light-color);
  margin-left: 16px;
}

/* Footer tablet styles */
@media screen and (min-width: 768px) {
  .footer .container {
    padding-inline: 108px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }

  .footer-logo-block,
  .footer-social-block,
  .footer-form-block {
    text-align: left;
  }

  .footer-logo-block,
  .footer-form-email {
    width: 264px;
  }

  .footer-form {
    flex-direction: row;
  }
}
/* Footer desktop styles */
@media screen and (min-width: 1158px) {
  .footer .container {
    gap: 0;
    padding: 100px 15px;
  }

  .footer-logo-block {
    margin-right: 120px;
  }

  .footer-social-block {
    margin-right: 80px;
  }

  .footer-social-list-item-link:hover,
  .footer-social-list-item-link:focus {
    background-color: #31d0aa;
  }

  .footer-form-button:hover,
  .footer-form-button:focus,
  .footer-form-button:active {
    background-color: var(--pressed-state-color);
  }

  .footer-form {
    gap: 24px;
  }

  .footer-form-email {
    opacity: 1;
  }
}

/* #endregion Footer Section -------------------------- */

/* #region Mobile Menu Section ----------------------------- */

.mobmenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--white-background-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu.is-open {
  opacity: 1;
  pointer-events: auto;
}

/* Mobile Menu tablet styles */
@media screen and (min-width: 768px) {
  .mobmenu {
    display: none;
  }
}

.mobmenu .container {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 320px;
  height: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-inline: 16px;
}

.mobmenu-navigation {
}

.mobmenu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobmenu-nav-item {
}

.mobmenu-nav-item-link {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-nav-item-link:hover,
.mobmenu-nav-item-link:focus,
.mobmenu-nav-item-link:active {
  color: var(--pressed-state-color);
}

.mobmenu-current-page {
  color: var(--pressed-state-color);
}

.mobmenu-contacts {
}

.mobmenu-contacts-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 48px;
}

.mobmenu-contacts-item {
}

.mobmenu-contacts-item-link {
}

.mobmenu-contacts-item-link {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-contacts-item-link:hover,
.mobmenu-contacts-item-link:focus,
.mobmenu-contacts-item-link:active {
  color: var(--pressed-state-color);
}

.mobmenu-item-socialblock-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.mobmenu-item-sociallink {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-item-sociallink:hover,
.mobmenu-item-sociallink:focus {
  background-color: #404bbf;
}

/* #endregion Mobile Menu Section --------------------------- */
